* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid;

}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: red;
    border: 2px solid black;

}

/* Barra de navegação */

#navbar {
    justify-content: space-between;
    background-color: white;
    padding: 5px 0;

}

#navbar a {
    font-size: 20px;
    color: black;
}

#navbar a:hover {
    color: red;
}

#navbar img {
    width: 200px;
}

/* Barra de pesquisa */

#search-container {
    background-image: url("../img/fundo-preto-background.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: white;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}


/* Lista de filmes */

#movie-container {
    padding: 50px;
}

#movie-container h2 {
    margin-bottom: 10px;
    text-align: center;

}

#movie-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

#movie-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#movie-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card .card-date {
    font-size: 20px;
    color: black;
}

.card .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-id {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-duration {
    font-size: 20px;

}

/* Página de cadastro */

#movie-create-container {
    padding: 35px;
    font-weight: bold;
}

#movie-create-container label {
    font-weight: bold;
}

#movie-create-container input,
#movie-create-container select,
#movie-create-container textarea {
    font-size: 20px;
}


/* Rodapé */

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

footer p {
    margin-bottom: 0;
}